body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#header {
  align-items: center;
  margin: 1em auto;
}

#description {
  color: var(--grey-50);
}

#feed-url {
  padding: 0;
  width: 100%;
  padding-left: 24px;
  display: block;
  border: none;
  background: url(/icons/link.svg) no-repeat 4px center !important;
  box-shadow: none !important;
  color: inherit;
  margin-bottom: 1em;
}

#view-source-button {
  color: inherit;
}

#view-source-button:not(:hover) {
  text-decoration: none;
}

#view-source-button::before {
  width: 24px;
}

#items {
  width: 100%;
}

#preview {
  display: contents;
}

frame {
  height:100%;
  width:100%;
}
