body {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

#header {
  align-items: center;
  margin: 1em auto;
}

#description {
  color: var(--grey-50);
}

#feed-url {
  padding: 0;
  width: 100%;
  display: block;
  border: none !important;
  box-shadow: none !important;
}

#items {
  width:100%;
}

iframe {
  height:100%;
  width:100%;
}
