main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main > * {
  padding: 1rem;
}

.toolbar {
  align-items: center;
}

.toolbar button {
  margin-left: .5rem;
}

#feeds {
  flex: 1;
  overflow: auto;
}

.feed {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "title   edit"
                       "siteUrl edit";
}

.broken {
  background-image: linear-gradient(45deg, rgba(252, 166, 166, 0.7) 25%, white 25%, white 50%, rgba(252, 166, 166, 0.7) 50%, rgba(252, 166, 166, 0.7) 75%, white 75%, white 100%);
  background-size: 3em 3em;
}

.broken .feed-title {
  font-weight: bold;
}

.feed-title {
  grid-area: title;
}

.feed-url {
  grid-area: siteUrl;
  font-size: 0.8em;
  color: var(--grey-50);
}

.feed-title,
.feed-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.feed-edit {
  grid-area: edit;
}

.form-row {
  margin-bottom: 0.5em;
}

#edit-livemark-dialog .flex > *:last-child {
  margin-left: 0.5em;
}

#import-feeds {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  opacity: 0;
}

#darkIcon,
#lightIcon,
#orangeIcon {
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  padding: 10px;
  border: 2px solid rgba(0,0,0,0.1);
  background-position: center;
  background-repeat: no-repeat;
}

#darkIcon:checked,
#lightIcon:checked,
#orangeIcon:checked {
  border-color: var(--blue-50);
}

#darkIcon {
  background-image: url(../../icons/feed.svg);
}

#lightIcon {
  background-color: #2a2a2e;
  background-image: url(../../icons/feed-light.svg);
}

#orangeIcon {
  background-image: url(../../icons/feed-orange.svg);
}
