main {
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

#feeds {
  flex: 1;
  overflow: auto;
  margin: 10px -20px;
  padding: 0 20px;
}

.feed {
  position:relative;
}

.feed .flex > *:last-child {
  margin-left: 1em;
}

.feed label {
  display: block;
}

.feed ul.feed_errors {
  color: var(--red-50);
  display: block;
  text-align:left;
  width: 100%;
  margin: 0;
  margin-top: 1em;
  padding: 0;
}

.feed ul.feed_errors:empty {
  display: none;
}

.feed ul.feed_errors li {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.feed input.maxItems, .short {
  width: 5ch;
  text-align:center;
}

ul.options {
  list-style: none;
  text-align: right;
  overflow: auto;
}

ul.options a {
  clear:both;
  float:right;
  margin-bottom: 10px;
  text-transform: lowercase;
  font-size: 13px;
}

#settings {
  padding:10px;
  float:left;
}

#settings .small {
  font-size:10px;
  margin-left:10px;
}

#files {display:none;}

#poll_interval_status {
  background:rgb(210,235,210);
}

#poll_interval_status.error {padding:7px;}

#poll_interval_status.error {background: rgb(235,210,210);}
