/**
 * Styles for the feed reader iframe.
 */

html {
  font: message-box;
  height: 100%;
}

body {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

#error {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

#error::before {
  content: "";
  display: block;
  margin-bottom: 1em;
  /* Directly embed "face-sad.svg" because otherwise the sandbox would block it */
  background-image: url(data:image/svg+xml;base64,PCEtLSBUaGlzIFNvdXJjZSBDb2RlIEZvcm0gaXMgc3ViamVjdCB0byB0aGUgdGVybXMgb2YgdGhlIE1vemlsbGEgUHVibGljCiAgIC0gTGljZW5zZSwgdi4gMi4wLiBJZiBhIGNvcHkgb2YgdGhlIE1QTCB3YXMgbm90IGRpc3RyaWJ1dGVkIHdpdGggdGhpcwogICAtIGZpbGUsIFlvdSBjYW4gb2J0YWluIG9uZSBhdCBodHRwOi8vbW96aWxsYS5vcmcvTVBMLzIuMC8uIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDIwIDIwIj4KICA8cGF0aCBmaWxsPSIjMDBEM0U3IiBkPSJNOS45NC44YTkuMDEgOS4wMSAwIDAgMC05IDkuNDIgMS4wNyAxLjA3IDAgMCAwIC4xMyAyLjEyaC4yMUE5LjAxIDkuMDEgMCAxIDAgOS45NC44Ii8+CiAgPHBhdGggZmlsbD0iIzAwQTFDMSIgZD0iTTE4LjkzIDEwLjIxdi0uNGMwLTIuNC0uOTMtNC42LTIuNDctNi4yQTkuMjYgOS4yNiAwIDAgMSAzLjcyIDE2LjM0YTkgOSAwIDAgMCAxNC44NS00bC4yMS0uMDFjLjYgMCAxLjA3LS40OCAxLjA3LTEuMDcuMDEtLjU0LS40LS45OS0uOTItMS4wNiIvPgogIDxwYXRoIGZpbGw9IiMzMjNCNTkiIGQ9Ik01LjQ3IDYuNTVhLjk5Ljk5IDAgMCAwLS45OS45OXYyLjIyYS45OS45OSAwIDEgMCAxLjk4IDBWNy41NGEuOTkuOTkgMCAwIDAtMS0uOTltOC45OCAwYS45OS45OSAwIDAgMC0xIC45OXYyLjIyYS45OS45OSAwIDEgMCAxLjk4IDBWNy41NGEuOTkuOTkgMCAwIDAtLjk4LS45OW0tNC41IDUuNDdhMi4yNyAyLjI3IDAgMCAwLTIuMzQgMi4xM2MtLjAyLjIzLjA5LjQ1LjI3LjU4LjE5LjE0LjQzLjE3LjY0LjA5IDAgMCAuNDctLjE3IDEuMzQtLjE3LjkxIDAgMS41NS4xOSAxLjU2LjE5YS42OS42OSAwIDAgMCAuNjEtLjExLjY3LjY3IDAgMCAwIC4yNi0uNTggMi4yNyAyLjI3IDAgMCAwLTIuMzQtMi4xMyIvPgogIDxwYXRoIGZpbGw9IiMwMEExQzEiIGQ9Ik00LjU5IDcuMDJjLS4zNiAwLS43Mi0uMTEtMS4wMy0uMzJhLjMxOC4zMTggMCAxIDEgLjM1LS41MyAxLjI1IDEuMjUgMCAwIDAgMS44LS40Ny4zMTMuMzEzIDAgMSAxIC41Ni4yOCAxLjg4IDEuODggMCAwIDEtMS42OCAxLjA0bTEwLjQ3IDBhMS44OCAxLjg4IDAgMCAxLTEuNjgtMS4wNC4zMTMuMzEzIDAgMSAxIC41Ni0uMjggMS4yNCAxLjI0IDAgMCAwIDEuOC40OC4zMi4zMiAwIDAgMSAuMzUuNTNjLS4zLjItLjY2LjMtMS4wMy4zIi8+Cjwvc3ZnPg==);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.item {
  background: #fff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.12);
  padding: 30px;
  margin: 30px 0;
  line-height: 1.5;
}

.item:hover {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
}

.item h1 {
  font-size: 1.4em;
  font-weight: normal;
}

.item h2 {
  font-size: 1.25em;
}

.item img {
  max-width: 50%;
  height: auto;
  vertical-align: middle;
}

.item .emoji {
  width: 1em;
  height: 1em;
}

.item li {
  margin: 10px 0;
  line-height: 1.5;
}

.item a:not(:hover) {
  text-decoration: none;
}

.item pre,
.item code {
  font-family: Menlo, Consolas, monospace;
  overflow: auto;
  text-overflow: ellipsis;
}

.item blockquote {
  border-left: solid .25em;
  background: #fafafa;
  padding: 20px;
  margin: 20px 0;
}

.item_title {
  font-size: 1.8em;
  text-decoration: none;
}

.item_date {
  display: block;
  font-size: 0.9em;
  color: #4a4a4f;
}

.item_desc {
  display:block;
}

.item_media {
  margin-top: 1em;
  padding: 0.5em;
  background-color: #f9f9fa;
}
