div#messages {
  text-align:center;
}

div.message {
  list-style-type: none;
  padding:3px;
  margin-left:0px;
  margin-right:0px;
  clear:both;
}

div.odd_row {
  background: rgb(255, 230, 230);
}

div.no_messages {
  text-align:center;
  clear:both;
  padding:30px 0;
}

a#clear {
  float:right;
  margin-right:10px;
  margin-bottom:10px;
  clear:both;
}

