div.message {
  padding: 4px 10px;
  background: var(--grey-20);
  border-radius: 2px;
  margin: 10px 0;
}

a#clear {
  float:right;
  margin-right:10px;
  margin-bottom:10px;
  clear:both;
}

