@import url(photon-variables.css);

html {
  font: message-box;
  height: 100%;
}

body {
  font-size: 1.25em;
  background: var(--grey-10);
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.button,
button,
select {
  -moz-appearance: none;
  background-color: var(--grey-90-a10);
  border-radius: 2px;
  box-shadow: 0 0 0 0 transparent;
  padding: 8px;
  transition-duration: 250ms;
  transition-property: box-shadow, border;
  font: inherit;
  border: none;
  color: inherit;
  text-decoration: none;
}

select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNOCwxMkwzLDcsNCw2bDQsNCw0LTQsMSwxWiIgZmlsbD0iIzZBNkE2QSIgLz4KPC9zdmc+Cg==);
  background-position: calc(100% - 4px) center;
  background-repeat: no-repeat;
  padding-inline-end: 24px;
  text-overflow: ellipsis;
}

.button:hover,
button:hover,
select:hover {
  background-color: var(--grey-90-a20);
}

.button:hover:active,
button:hover:active,
select:hover:active {
  background-color: var(--grey-90-a30);
}

.button:disabled,
button:disabled,
select:disabled {
  opacity: .4;
}

.button:focus,
button:focus,
select:focus {
  box-shadow: 0 0 0 1px var(--blue-50) inset, 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}

.button.primary,
button.primary {
  background-color: var(--blue-60);
  color: #fff;
}

.button.primary:hover,
button.primary:hover {
  background-color: var(--blue-70);
}

.button.primary:hover:active,
button.primary:hover:active {
  background-color: var(--blue-80);
}

input[type="text"] {
  border: 1px solid var(--grey-90-a30);
  padding: 8px;
  border-radius: 2px;
  font: inherit;
  transition: box-shadow 0.15s cubic-bezier(.07,.95,0,1);
}

input[type="text"]:hover {
  border-color: var(--grey-90-a50);
}

input[type="text"]:focus {
  border-color: var(--blue-50);
  box-shadow: 0 0 0 1px var(--blue-50), 0 0 0 4px var(--blue-50-a30);
}
