@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {font-family: 'Droid Sans', arial, ser;}

div#header
{
	width:800px;
	margin-left:auto;
	margin-right:auto;
}

div#logo 
{
	float:left;
	width:160px;
}

div#logo img {margin-left:11px;}

div#logo .title
{
	font-weight: bold;
	font-size: 20px;
}

div#blurb
{
	background:rgb(230,235,255);
	-webkit-border-radius: 10px;
	padding:12px;
	min-height:120px;
    margin-bottom:5px;
}

div#blurb div.subheading
{
	margin-top:10px;
	text-align:center;
}

span.important {text-decoration:underline;}

div#blurb h1
{
	text-align:center;
	font-size:20px;
	margin:0;
	margin-bottom:5px;
	color:rgb(130,135,155);
}

div.spacer 
{
	width:85%;
	border-top: 2px solid black;
	margin-top:10px;
	margin-bottom:5px;
	margin-left: auto ;
	margin-right: auto ;
	clear:both;
}