div.feed {clear:both;}

div.feed:hover {background:rgb(230,230,255)}

div.feed div
{
	width:47%;
	text-align:right;
	float:left;
}

div.feed input[type="text"] 
{
	font-size: 16px;
	margin-left:5px;
	width:75%;
}

div.feed select.parentFolder
{
    margin-right:5px;
    width:30%;
}

div.feed ul.feed_errors
{
	color:red;
	text-align:left;
	width:35%;
	padding:0px;
	padding-left:15px;
	margin:3px;
	margin-left:10%;
	float:left;
}

div.feed ul.left {clear:left;}

div.feed ul.right {clear:right;}

div.feed div.feed_errors li 
{
	float: left;
	width:50%;
}

div.feed input.maxItems, .short {width:30px;}

a.button
{
	diaplay:block;
	height:25px;
	width:25px;
	text-align:center;
	font-size:40px;
	text-decoration:none;
	float:left;
	margin-left:15px;
	margin-top:18px;
}

a.delete
{
	line-height:60%;
	border:solid 2px red;
	background:rgb(240,195,200);
	color:red;
}
a.delete:hover
{
	background:red;
	color:white;
}

input#save
{
	display:block;
	margin-left: auto ;
	margin-right: auto ;
	clear:left;
    width:70px;
	font-size:18px;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
}

a#add
{
	background:rgb(210,235,210);
	color:black;
	float:right;
	padding:10px;
	margin-bottom:10px;
	margin-right:30px;
	clear:right;
	border:2px solid green;
}

a#add:hover {color:green;}

a#error_log
{
	float:left;
	margin-top:5px;
	margin-left:5px;
    clear:left;
}

a#error_log img
{
	margin-right:5px;
	margin-bottom:-3px;
}

div#save_status
{
	text-align:center;
	padding:10px;
	width:150px;
	margin-left: auto ;
	margin-right: auto ;
}

div#save_status.error
{
	background:rgb(255,230,230);
	width:300px;
}

div#save_status.success
{
	background:rgb(230,255,230);
	width:150px;
}

div#import_area, div#poll_interval_area
{
    border: solid 3px rgb(200,200,255);
	background:rgb(240,245,255);
    float:left;
    padding:5px;
    font-size: 15px;
    margin-right:3px;
 }

input[type=file] {width:90px;}

#import_status, #poll_interval_status
{
    -webkit-border-radius: 10px;
    background:rgb(210,235,210);
    float:left;
    display:block;
    margin:5px;
}

#import_status.error , #import_status.success , #poll_interval_status.error {padding:7px;}

#import_status.error, #poll_interval_status.error {background: rgb(235,210,210);}

#save_message
{
    width:36%;
    text-align:center;
    background: #F2F5A9;
    padding:5px;
    margin-top:10px;
    float:right;
    position:relative;
    top:-55px;
    display:none;
}
