body {
  display: flex;
  align-items: stretch;
}

#sidebar {
  background: white;
  padding: 1em;
  overflow-y: auto;
  min-width: 400px;
}

#items {
  width:100%;
}

iframe {
  height:100%;
  width:100%;
}

.feed {
  border:none;
  margin-top:40px;
}

#save {
  margin:30px 0;
}

.feedUrlSpan {
  float: right;
}

.feedUrl {
  font-size: 8pt;
}
