body {font-family: 'Droid Sans', arial, ser;}

div#blurb {margin-bottom:10px;}


div.feed input[type="text"] {font-size:16px;}

div.feed input[type="text"].maxItems {width:30px;}

.left_labels, .right_labels, .left_inputs, .right_inputs {float:left;}
.left_labels{width:120px;}
.right_labels {width:100px;}
.left_inputs {width:25%}
.right_inputs {width:40%}

.left_labels, .right_labels
{
	text-align:right;
	line-height:150%;
	margin-right:5px;
}

div.feed input[type='text'], div.feed select
{
	float:left;
	clear:left;
	margin:0px;
	width:100%;
}

input[type='button']
{
	margin-left:10px;
	height:50px;
	width:75px;
}

div#save_status
{
	text-align:center;
	padding:10px;
	margin-left: auto ;
	clear:both;
}

div#save_status.error
{
	background:rgb(255,230,230);
	width:300px;
}

div#save_status.success
{
	background:rgb(230,255,230);
	width:150px;
}


div.feed ul.feed_errors
{
	color:red;
	text-align:left;
	width:35%;
	padding:0px;
	padding-left:15px;
	margin:3px;
	margin-left:10%;
	float:left;
}

div.feed ul.left
{
	clear:left;
}

div.feed ul.right
{
	clear:right;
}

div.feed div.feed_errors li 
{
	float: left;
	width:50%;
}

div.spacer 
{
	width:85%;
	border: 0;
	margin:0;
}
